{% extends 'base.html' %}
{% block content %}
<br /><br />
<div class="welcome_banner">
    <div class="welcome_banner_container">
        <p class="welcome_banner_container_text">
            Greetings
        </p>

        <ul class="welcome_banner_container_list">
            <li class="item">Traveller !</li>
            <li class="item">Weary One !</li>
            <li class="item">Explorer !</li>
            <li class="item">... Want Tacos?</li>
        </ul>
    </div>
</div>
<!-- <h1 id='home_header'>Home</h1> -->
<br />

<div class="stage">
    <div class="box bounce-7 swing">
        <p id='home_text'>
            Welcome to Mobius-7 traveler, our inter-galactic space dock. From here, you will generate your
            mission map.
            Click on 'Generate Map' above or below to draw out the planetary system you will be exploring. This plotted
            system will
            guide you to your next adventure.
            <button class='generatebtn'>Generate Map</button>
        </p>
    </div>
</div>
<!-- <form action="/generate">
    <button>To Generate!</button>
</form> -->

{% endblock %}