{% extends 'base.html' %}
{% block content %}
<br /><br />
<div class="welcome_banner">
    <div class="welcome_banner_container">
        <p class="welcome_banner_container_text">
            Hello
        </p>

        <ul class="welcome_banner_container_list">
            <li class="item">World !</li>
            <li class="item">...you !</li>
            <li class="item">friend !</li>
            <li class="item">erryone !</li>
        </ul>
    </div>
</div>
<!-- <h1 id='home_header'>Home</h1> -->
<br />

<div class="stage">
    <div class="box bounce-7">
    </div>
</div>
<!-- <form action="/generate">
    <button>To Generate!</button>
</form> -->

{% endblock %}